*,
::after,
::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #fafafa;
  background-color: #23262a;
}

main {
  flex: 1 1 auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

svg {
  fill: currentColor;
}

/* _________________________________ */

.header {
  padding: 32px 0;
  background-color: #2a2c36;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .header__container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.logo {
  display: flex;
  gap: 20px;
}

.logo__name {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.33;
}

@media screen and (min-width: 425px) {
  .logo__name {
    font-size: 36px;
  }
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  border-radius: 16px;
}

@media screen and (min-width: 768px) {
  .form {
    width: 360px;
  }
}

.form__field {
  position: relative;
}

.form__label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  padding: 0 4px;
  font-size: 16px;
  color: #fefefe;
  background-color: #2a2c36;
  pointer-events: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  color: #ec9706;
  transform: translateY(-36px) scale(0.8);
}

.form__input:not(:focus) + .form__label {
  color: #fefefe;
}

.form__input {
  width: 100%;
  height: 50px;
  padding: 8px 16px;
  padding-right: 84px;
  font-size: 16px;
  letter-spacing: 1.4px;
  color: #ec9706;
  background-color: transparent;
  border: 1px solid #fefefe;
  border-radius: 36px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  border-color: #ec9706;
  box-shadow: 0px 8px 12px -4px rgba(236, 151, 6, 0.32);
}

.form__input:not(:focus) {
  color: #fefefe;
}

.form__field:has(.form__input:focus) + .form__button > .form__close, .form__field:has(.form__input:focus) + .form__button > .form__search{
  color: #ec9706;
}

.form__button {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 12px;
}

.form__close, .form__search {
  padding: 0;
  color: #fefefe;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__close {
  opacity: 0;
}

.gallery {
  padding: 48px 0;
}

.gallery__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .gallery__list {
    flex-direction: row;
  }
}

.gallery__item {
  position: relative;
  flex-basis: calc((100% - 2 * 20px) / 3);
  height: 316px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .gallery__item {
    flex-basis: calc((100% - 20px) / 2);
    height: 316px;
  }
}

@media screen and (min-width: 1180px) {
  .gallery__item {
    flex-basis: calc((100% - 2 * 20px) / 3);
    height: 316px;
  }
}

.gallery__item:hover .gallery__overlay {
  opacity: 1;
}

.gallery__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 16px;
  background-color: rgba(42, 44, 54, 0.2);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__artist {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: auto;
}

.artist__pic {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}

.footer {
  padding: 32px 0;
  background-color: #2a2c36;
}

.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 144px;
  height: 62px;
  padding: 16px;
  background-color: #fafafa;
  border-radius: 6px;
}

.footer__rights {
  font-weight: 400;
  line-height: 1.33;
  text-align: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 80%;
  height: 50%;
  background-color: #212121;
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1280px) {
  .modal {
    width: 1200px;
    height: 840px;
  }
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.1);
}

.modal__button {
  position: absolute;
  top: 12px;
  right: -48px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 0;
  color: #fefefe;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
